* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
   }

   body {
    background-image: url(../assets/images/mexico.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:600px;
    margin-top:80px;
   }

   header {
    background-color: rgb(107,208,240);
     color: white;
     height: auto;
     top: 0;
     width: 100%;
     position: fixed;
     z-index: 100;
     text-align:center;
   }
   .inline_seccion{
    display: inline-block;
    margin-left:10px;
    margin-top:30px;
    padding-right:10px;
   }


   h1 {
      font-size: 35px;
      padding-left: 1%;
      padding-top: 1%;
   }

   /*primera seccion */
   main.container{
    padding-left: 10%;
    padding-right:10%;
   }

   .hi_container{
    width:450px;
    height: 300px;
    background-color: white;
    padding-top:50px;
    padding-left:20px;
   }


   /* segunda seccion*/
   .text-area{
    background-color: white;
    height: 300px;
    width:450px;
   }

   textarea{
     background-color: white;
     border-top: none;
     border-left: none;
     border-right: none;
     border-width: medium;
     width: 450px;
     border-color: rgba(177, 210, 220, 0.78);
     overflow: hidden;
     box-sizing: padding-box;
     padding: 10px;
   }

   .button{
    border-radius: 5px;
    display: inline-block;
    color: white;
    background-color: rgb(107,208,240);
    padding: 10px 20px;
    cursor: pointer;
   }

   .boton:hover{
    background-color: white;
   }
   /* tercera seccion*/

   .block_seccion{
    width: 50%;
    height: auto;
    background-color: white;
    margin-top:30px;
    margin-left:10px;
    padding: 10px 20px;
   }
